<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ('./partials/head.ejs')%> 
    <title>Profile</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">EdoC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class = 'collapse navbar-collapse' id = 'navbarContent'>
            <div class = 'navbar-nav'>
                <a class = 'nav-item nav-link active' href = '/homePage'>Newsfeed</a>
                <a class = 'nav-item nav-link' href = '/profile'>Profile</a>
                <a class = 'nav-item nav-link' href = '/settings'>Settings</a>
                <a class = 'nav-item nav-link' href = '/'>Sign Out</a>
            </div>
        </div>
    </nav>
</body>
</html>